/* Bootstrap Media Queries */

/* Large Devices(Desktops & Laptops */
@media (min-width: 1200px) {
 /* .col-md-5{
  justify-content: flex-end;
 }
 .col-md-5{
  justify-content: flex-start;
 } */
 #slider{
  width: 35em;
  height: 47em;
 }
 label h6 {
  color: white;
  z-index: 1;
  position: absolute;
  top: 98%;
  font-size: 40px; 
 }
.no-space col-md-5 .new-image1{
 justify-content: flex-end;
}
.new-image1 img{
 width: 460px;
 height: 490px;
}
.new-image2 img{
 width: 460px;
 height: 490px;
}
.new-image1 #myBtn{
 top: 92%;
 left: 17%;
}
.new-image2 #myBtn1{
 top: 92%;
 left: 17%;
}

}
/* Medium Devices(Landscape tablets & Medium Desktops */
@media (min-width: 992px) and (max-width: 1199px){
 .new-image1 img{
  justify-content: right;
 }
 .new-image2 img{
  justify-content: left;
 }
 #slider{
  width: 28em;
  height: 45em;
 }
 .vl{
  margin: 0 4rem 0 0;
 }
 label h6 {
  color: white;
  z-index: 1;
  position: absolute;
  top: 99%;
  font-size: 30px; 
 }
 .new-image1 #myBtn{
  top: 90%;
  left: 20%;
 }
 .new-image2 #myBtn1{
  top: 90%;
  left: 20%;
 }

}

/* Small Devices(Portrait tablets & Small Desktops */
@media (min-width: 768px) and (max-width: 991px){

 .new-image1 img{
  width: 300px;
 }
 .new-image2 img{
  width: 300px;
 }
 #slider{
  width: 28em;
  height: 45em;
 }
 .vl h3{
  font-size: 16px;
 
 }
 .vl ul{
  line-height: 2.5em;
 }
 .vl{
  margin: 0 1.8rem 0 0;
 }
 label h6 {
  color: white;
  z-index: 1;
  position: absolute;
  top: 98%;
  font-size: 35px; 
 }
 .new-image1 #myBtn{
  top: 90%;
  left: 27%;
 }
 .new-image2 #myBtn1{
  top: 90%;
  left: 27%;
 }
 

}

/* extrasmall Devices(Landscape Phone & Portrait Tablets */
@media (min-width:280px) and (max-width: 767px){
 #home h1{
  font-size: 28px;
  padding: 30px;
 }
 #banner{
  height: 22vh;
 }
 
h2{
 font-size: 35px;
}

 .new-image1 img{
  width: 340px;
 }
.new-image2 img{
 width: 340px;
  
}
#slider{
 width: 13em;
 height: 23em;
 margin: 9px auto;
}

.vl{
 font-size: 15px;
 height: auto;
 border-right:none;
 margin: 0 3rem 0 0;
 
}
.header{
 text-align: center;
 margin-left: 40px;
}
.header h3{
 text-align: center;
}
.vl h3{
 font-size: 20px;
}
.vl ul{
 text-align: center;
 margin-left: 40px;
}
label h6 {
 color: white;
 z-index: 1;
 position: absolute;
 top: 97%;
 font-size: 20px; 
}
#back2Top{
 left: 92%;
 padding:5px;
 font-size:20px;
 width: 25px;
}
.nav-bar{
 background-color: #000;
}
.new-image1 #myBtn{
 top: 90%;
 left: 27%;
}
.new-image2 #myBtn1{
 top: 90%;
 left: 27%;
}
.bottom-left{
 left:12px;
}
h5{
 font-size: 1.2rem;
}
}